<div class="row no-margin-right no-margin-left bg-white">
  <div class="col-sm-1" [ngStyle]="getPriorityStyle()">
    <p>{{ getPriorityDescription() }}</p>
  </div>
  <div class="col-sm-2">
    <check-tooltip [mainText]="check.service " [tooltipText]="check.checkFullDescription"></check-tooltip>
  </div>
  <div class="col-sm-1" [ngStyle]="getStatusStyle()">
     <p>{{ getStatusDescription() }}</p>
  </div>
  <div class="col-sm-2">
    <p>{{ check.lastCheckTime | date:'short' }}</p>
  </div>
  <div class="col-sm-2">
    <p>{{ check.statusChangeTime | date:'short' }}</p>
  </div>
  <div class="col-sm-3">
    <p>{{ check.description }}</p>
  </div>
  <div class="col-sm-1">
    <p *ngIf="check.loading">Loading...</p>
    <a *ngIf="!check.loading" [routerLink]="" (click)="runManualCheck(check)">
      Run
    </a>
  </div>
</div>
