@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
.nav-link {
    color: #fff!important;
    cursor: pointer;
    font-size: 16px;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #343a40 !important;
}
@media only screen and (max-width: 530px){
    .navbar {
        height: 45px;
    }
}
.collapse:not(.show) {
    display: block;
}
.navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
